<%= form_for @conn, Routes.page_path(@conn, :create), [class: "flex items-center justify-center"], fn f -> %>
  <%= text_input f, :url, placeholder: "Twitch url", class: "input input-bordered w-2/5" %>
  <%= submit "Download", class: "btn btn-info" %>
<% end %>